*,
*:after,
*:before {
  box-sizing: border-box;
}

*:after {
  /* Clear fix */
  content: "";
  display: table;
  clear: both;
}

html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.metro-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
}

.metro-nav .header {
  position: relative;
  z-index: 1;
  background-color: #333;  /* Black */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.metro-nav .toggle {
  float: left;
  padding: 12px 13px 14px 13px;
  color: inherit;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
}

.metro-nav .toggle i:first-child,
.metro-nav .toggle.show i:last-child {
  display: block;
}

.metro-nav .toggle.show i:first-child,
.metro-nav .toggle i:last-child {
  display: none;
}

.metro-nav .brand {
  float: left;
  height: 50px;
  padding: 15px;
  line-height: 20px;
}

.metro-nav .toggle:hover,
.metro-nav .brand:hover {
  background-color: rgba(100, 100, 100, 0.5);  /* #646464 */
}

.metro-nav .text {
  margin: 0;
  font: bold 18px sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.metro-nav .nav {
  position: relative;
  z-index: 0;
  height: calc(100vh - 50px);
  background-color: rgba(51, 51, 51, 0.8);  /* #333 */
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.1s ease-out,
              opacity 0.1s ease-out;
}

.metro-nav .nav.show {
  visibility: visible;
  opacity: 1;
}

.metro-nav .nav ul,
.metro-nav .nav ol {
  width: 100%;  /* One column, fill screen */
  margin: 0;
  padding: 0;
  list-style: none;
  perspective: 1000px;
}

.metro-nav .nav li {
  position: relative;
  float: left;
  height: 100px;
  width: calc(50% - 10px);
  margin: 5px;
  overflow: hidden;
  word-break: break-all;
  opacity: 0;
  transform: rotateY(90deg);
  transform-origin: left;
  transition: opacity 0.2s ease-out,
              transform 0.2s ease-out;
}

.metro-nav .nav li.lg {
  width: calc(100% - 10px);
}

.metro-nav .nav.show li {
  opacity: 1;
  transform: rotateY(0deg);
}

.metro-nav .nav li:before {
  /* Overlay */
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.metro-nav .nav li.image:before {
  opacity: 0.75;
  transition: opacity 0.1s ease-out;
}

.metro-nav .nav li:not(.image):hover {
  background-color: rgb(190, 190, 190);  /* #bebebe */
}

.metro-nav .nav li:hover:before {
  opacity: 0.5;
}

.metro-nav .nav li.image:hover:before {
  opacity: 0.25;
}

.metro-nav .nav li a {
  position: relative;
  display: flex;
  align-items: center;  /* Center vertical */
  justify-content: center;  /* Center horizontal, short text */
  text-align: center;  /* Center horizontal, long text */
  height: 100%;
}

.metro-nav .nav li .bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.1s ease-out;
}

.metro-nav .nav li:hover .bg {
  transform: scale(1.1);
}

@media (min-width: 540px) {
  .metro-nav .nav {
    padding: 15px 50px;
  }

  .metro-nav .nav ul,
  .metro-nav .nav ol {
    width: 440px;  /* One column, two lg wide */
  }

  .metro-nav .nav li {
    width: 100px;
    height: 100px;
  }

  .metro-nav .nav .quad,
  .metro-nav .nav li.lg {
    width: 210px;  /* 2 * (sm + margin) */
    height: 210px;
  }

  .metro-nav .nav .quad {
    float: left;
    margin: 5px;
  }

  .metro-nav .nav .quad li:nth-child(1) {
    margin-top: 0;
    margin-left: 0;
  }

  .metro-nav .nav .quad li:nth-child(2) {
    margin-top: 0;
    margin-right: 0;
  }

  .metro-nav .nav .quad li:nth-child(3) {
    margin-bottom: 0;
    margin-left: 0;
  }

  .metro-nav .nav .quad li:nth-child(4) {
    margin-bottom: 0;
    margin-right: 0;
  }
}

@media (min-width: 760px) {
  .metro-nav .nav ul,
  .metro-nav .nav ol {
    width: 660px;  /* One column, three lg wide */
  }
}

@media (min-width: 1030px) {
  .metro-nav .nav ul,
  .metro-nav .nav ol {
    width: 930px;  /* Two columns, two lg wide */
    column-count: 2;
    column-width: 200px;
    column-gap: 50px;
  }

  .metro-nav .nav li {
    page-break-inside: avoid;
  }
}

/*@media (min-width: 1520px) {
  .metro-nav .nav ul,
  .metro-nav .nav ol {
    width: 1420px;  /* Three columns, two lg wide *
    column-count: 3;
  }
}*/

.red:not(.image),
.red:before {
  background-color: #f44336;  /* material_red_500 */
}

.pink:not(.image),
.pink:before {
  background-color: #e91e63;  /* material_pink_500 */
}

.purple:not(.image),
.purple:before {
  background-color: #9c27b0;  /* material_purple_500 */
}

.deep-purple:not(.image),
.deep-purple:before {
  background-color: #673ab7;  /* material_deep_purple_500 */
}

.indigo:not(.image),
.indigo:before {
  background-color: #3f51b5;  /* material_indigo_500 */
}

.blue:not(.image),
.blue:before {
  background-color: #2196f3;  /* material_blue_500 */
}

.light-blue:not(.image),
.light-blue:before {
  background-color: #03a9f5;  /* material_light_blue_500 */
}

.cyan:not(.image),
.cyan:before {
  background-color: #00bcd4;  /* material_cyan_500 */
}

.teal:not(.image),
.teal:before {
  background-color: #009688;  /* material_teal_500 */
}

.green:not(.image),
.green:before {
  background-color: #4caf50;  /* material_green_500 */
}

.light-green:not(.image),
.light-green:before {
  background-color: #8bc34a;  /* material_light_green_500 */
}

.lime:not(.image),
.lime:before {
  background-color: #cddc39;  /* material_lime_500 */
}

.yellow:not(.image),
.yellow:before {
  background-color: #ffeb3b;  /* material_yellow_500 */
}

.amber:not(.image),
.amber:before {
  background-color: #ffc107;  /* material_amber_500 */
}

.orange:not(.image),
.orange:before {
  background-color: #ff9800;  /* material_orange_500 */
}

.deep-orange:not(.image),
.deep-orange:before {
  background-color: #ff5722;  /* material_deep_orange_500 */
}

.brown:not(.image),
.brown:before {
  background-color: #795548;  /* material_brown_500 */
}

.grey:not(.image),
.grey:before,
.gray:not(.image),
.gray:before {
  background-color: #939393;  /* material_grey_500 */
}

.blue-grey:not(.image),
.blue-grey:before,
.blue-gray:not(.image),
.blue-gray:before {
  background-color: #607d8b;  /* material_blue_grey_500 */
}
